.git
.gitignore
.gitlab-ci.yml
.pytest_cache
.venv
.vercel
__pycache__
*.py[cod]
*.db
.DS_Store
.env
.env.*
!*.env.example
coverage.xml
htmlcov
.coverage
node_modules
dist
build
npm-debug.log*
uploads
instance
docs
specs

