[MASTER]
ignore=.git,.venv,venv,node_modules,dist,build

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods

[FORMAT]
max-line-length=100

[DESIGN]
max-args=8
max-locals=20

